:root {
    font-size: 62.5%;
    --primary-white: #f8f8f8;
    --primary-black: #111111;
    --secondary-yellow: #E6C65D;
    --secondary-green: #9FB063;
    --secondary-brown: #685353;
    --secondary-grey: #D9D9D9;
    --font-family-titre: "Concert One", cursive;
    --font-family-texte: "Lato", sans-empattement;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 1.6rem;
}

p {
    margin-bottom: 5rem;
    font-size: 2.4rem;
    font-family: var(--font-family-texte);
}

a {
    font-family: var(--font-family-texte);
    font-size: 2.4rem;
}


.logo {
    width: 96px;
}

.icones {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    width: 409px;
    align-items: center;
    text-align: center;
    padding-right: 50px;
}

.b:hover {
    opacity: 50%;
}

.icones img {
    display: block;
    margin: auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 89px;
    padding: 20px 30px;
    width: 100%;
    height: 136px;
    background: #E6C65D;
    font-family: var(--font-family-texte);
}


header {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/background-accueil.svg);
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-family: var(--font-family-titre);
    font-size: 7rem;
}

/* SECTION PRODUITS FRAIS */

.produits {
    max-width: 90vw;
    margin: auto;
    background: no-repeat url(../images/fleche-droite.svg);
    background-position: right;
}

.produits p {
    text-align: right;
}

.amis {
    width: 80%;
    max-height: 90vh;
    object-fit: cover;
    object-position: top;
}

/* SECTION PLANETE */

.planete {
    max-width: 90vw;
    margin: auto;
    background: no-repeat url(../images/fleche-gauche.svg);
    background-position: left bottom;
    margin-top: 70px;
    margin-bottom: 70px;

}

.planete p {
    text-align: left;
}

.agriculteur {
    width: 80%;
    max-height: 90vh;
    object-fit: cover;
    object-position: top;
    display: block;
    margin-left: auto;
}


/* BANDEAU JAUNE */


#decouvrir {
    height: 40vh;
    background-color: var(--secondary-yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../images/pouce.svg);
    background-repeat: no-repeat;
    background-position: right 25% center;
    margin-bottom: 10px;
}

#dernier-paragraphe {
    margin-bottom: 0;
}


/* FOOTER */

footer {
    padding: 2rem;
    background: var(--secondary-green);
}

footer,
.infos-footer,
.liens-icones-footer,
.icones-footer,
.liens-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    font-family: var(--font-family-texte);
}


.liens-icones-footer {
    gap: 10rem;
}

footer p {
    margin-bottom: 0;
    font-size: 2.4rem;
}

footer a {
    color: var(--secondary-brown);
    text-decoration: underline;
}

@media screen and (max-width: 393px) {
    p {
        font-size: 1.5rem;
    }

    a {
        font-size: 1.1rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    .logo {
        width: 3px;
        height: auto;
    }

    .b {
        width: 45px;
        height: auto;
    }

    .c {
        width: 70px;
        height: auto;
        margin-top: 50px;
    }

    .icones {
        margin-top: 50px;
    }

    header {
        background-size: 435px;
        height: 30vh;
    }

    .produits {
        background-size: 40px;
    }

    .planete {
        background-size: 40px;

    }

    #decouvrir {
        height: 20vh;
        background-position: bottom 10% center;
        background-size: 45px;
    }

    #decouvrir p {
        margin-bottom: 1rem;
    }

    .infos-footer {
        display: none;
    }

    .liens-footer {
        font-size: 1.3rem;

    }

    .liens-icones-footer {
        gap: 2.5rem;
    }
}